<%- include('includes/header') %>
<link rel="stylesheet" type="text/css" href="/css/login.css" />

<body>
  <form action="/resto/login" method="POST" class="login_container">
    <div class="login_frame" style="height: 460px">
      <div class="login_top">
        <span>Saytga Kirish</span>
        <div>
          Bosh Sahifaga qaytish <a href="/resto" style="color: #6440fb">Home</a>
        </div>
        <p>
          Ro'yhatdan o'tmaganmisiz
          <a href="/resto/sign-up" style="color: #6440fb">Ro'yhatdan o'tish</a>
        </p>
      </div>

      <div class="login_input_frame">
        <div class="login_input_container">
          <label>Foydalanuvchining ismi:</label>
          <input
            name="mb_nick"
            type="text"
            placeholder="Foydalanuvchining ismi"
            value=""
            required />
        </div>
        <div class="login_input_container">
          <label>Password kiriting:</label>
          <input
            name="mb_password"
            type="password"
            placeholder="Password"
            value=""
            required />
        </div>
      </div>

      <button class="login_btn btn" name="login" type="submit">Kirish</button>
    </div>
  </form>
</body>

<%- include('includes/footer') %>
