<%- include('includes/header') %>
<body>
  <h1>restaurant-menu</h1>

  <% if(!member){ %>
  <h2>siz authenticated emassiz</h2>
  <% } else { %>
  <h2>
    siz authenticated bulgansiz va sizning nickingiz <%= member.mb_nick %>
  </h2>
  <p>sizining telefon raqamingiz <%= member.mb_phone %></p>
  <% } %>
</body>

<%- include('includes/footer') %>
