<%- include('includes/header') %>
<link rel="stylesheet" type="text/css" href="/css/login.css" />
<!-- <link rel="stylesheet" type="text/css" href="/css/login.css" /> -->
<body>
  <!-- multipart/form-data bu imageni ham ichkariga qushib yuborish mantigi -->
  <form
    onsubmit="return validateSignUpForm()"
    class="login_container"
    action="/resto/sign-up"
    method="POST"
    enctype="multipart/form-data">
    <div class="login_frame" style="width: 650px; height: 730px">
      <div class="login_top">
        <span>Ro'yhatdan o'tish</span>
        <div>
          Bosh Sahifaga qaytish <a href="/resto" style="color: #6440fb">Home</a>
        </div>
        <p>
          Ro'yhatdan allaqachon o'tmaganmisiz
          <a href="/resto/login" style="color: #6440fb">Login</a>
        </p>
      </div>

      <div class="sign_input_frame">
        <div class="signup_frame">
          <label>Foydalanuvchinig ismi:</label>
          <input
            name="mb_nick"
            class="mb_nick"
            type="text"
            placeholder="Foydalanuvchining ismi"
            value=""
            required />
        </div>
        <div class="signup_frame">
          <label>Telefon raqam:</label>
          <input
            name="mb_phone"
            class="mb_phone"
            type="text"
            placeholder="Telefon raqam"
            value=""
            required />
        </div>
      </div>

      <div class="sign_input_frame">
        <div class="signup_frame">
          <label>Password:</label>
          <input
            name="mb_password"
            class="mb_password"
            type="password"
            placeholder="Password"
            value=""
            required />
        </div>
        <div class="signup_frame">
          <label>Passwordni qayta kiriting:</label>
          <input
            name="mb_confirm_password"
            type="password"
            class="mb_confirm_password"
            placeholder="Passwordni qayta tasdiqlash"
            value=""
            required />
        </div>
      </div>

      <div class="login_input_frame">
        <div class="media_frame">
          <img class="upload_image_frame" src="/images/default_resto.jpg" />
          <div class="upload_container">
            <span class="media_text">Taom Rasmi</span>
            <div class="filebox bs3-primary preview-image">
              <input
                class="upload-name"
                value="Rasmni tanlang"
                disabled="disabled" />
              <label for="input_file">Rasmni Yuklash</label>
              <input
                type="file"
                name="restaurant_img"
                id="input_file"
                class="upload-hidden form-control-file restaurant_img" />
            </div>
            <p class="thumbnail_desc">
              Oshxona rasmingizni bu yerga yuklang. <br />Muhim ko'rsatmalar:
              .jpg, .jpeg, yoki .png <br />
              rasmda matn yoq bo'lishi kerak
            </p>
          </div>
        </div>
      </div>

      <button class="login_btn btn" name="signup" type="submit">
        Ro'yhatdan o'tish
      </button>
    </div>
  </form>

  <script>
    $(function () {
      let fileTarget = $(`.filebox .upload-hidden`);
      let filename = "";
      fileTarget.on("change", function () {
        if (window.FileReader) {
          const uploading_file = $(this)[0].files[0];
          const fileType = uploading_file["type"];
          const validImagesTypes = ["image/jpeg", "image/jpg", "image/png"];
          if (!validImagesTypes.includes(fileType)) {
            alert(
              "Iltimos ruhsat etilgan formatdagi rasmlarni yuklang: jpg, jpeg, png"
            );
          } else {
            if (uploading_file) {
              console.log(URL.createObjectURL(uploading_file));
              $(".upload_image_frame")
                .attr("src", URL.createObjectURL(uploading_file))
                .addClass("success");
            }
            filename = $(this)[0].files[0].name;
          }
        }

        $(this).siblings(".upload-name").val(filename);
      });
    });

    function validateSignUpForm() {
      const mb_nick = $(".mb_nick").val();
      const mb_phone = $(".mb_phone").val();
      const mb_password = $(".mb_password").val();
      const mb_confirm_password = $(".mb_confirm_password").val();
      const restaurant_img = $(".restaurant_img").get(0).files[0] ?? null;

      if (
        mb_nick == "" ||
        mb_phone == "" ||
        mb_password == "" ||
        mb_confirm_password == ""
      ) {
        alert(`Iltimos hamma malumotni kiriting!`);
        return false;
      } else if (mb_password !== mb_confirm_password) {
        alert("Iltimos passwordni to'gri kiriting");
        return false;
      }

      if (!restaurant_img) {
        alert("Iltimos rasmni yuklang!");
        return false;
      }

      return true;
    }
  </script>
</body>

<%- include('includes/footer') %>
