<%- include('includes/header') %>
<link rel="stylesheet" type="text/css" href="/css/login.css" />
<!-- <link rel="stylesheet" type="text/css" href="/css/login.css" /> -->
<body>
  <!-- multipart/form-data bu imageni ham ichkariga qushib yuborish mantigi -->
  <form
    class="login_container"
    action="/resto/sign-up"
    method="POST"
    enctype="multipart/form-data">
    <div class="login_frame" style="width: 650px; height: 730px">
      <div class="login_top">
        <span>Ro'yhatdan o'tish</span>
        <div>
          Bosh Sahifaga qaytish <a href="/resto" style="color: #6440fb">Home</a>
        </div>
        <p>
          Ro'yhatdan allaqachon o'tmaganmisiz
          <a href="/resto/login" style="color: #6440fb">Login</a>
        </p>
      </div>

      <div class="sign_input_frame">
        <div class="signup_frame">
          <label>Foydalanuvchinig ismi:</label>
          <input
            name="mb_nick"
            type="text"
            placeholder="Foydalanuvchining ismi"
            value=""
            required />
        </div>
        <div class="signup_frame">
          <label>Telefon raqam:</label>
          <input
            name="mb_phone"
            type="text"
            placeholder="Telefon raqam"
            value=""
            required />
        </div>
      </div>

      <div class="sign_input_frame">
        <div class="signup_frame">
          <label>Password:</label>
          <input
            name="mb_password"
            type="password"
            placeholder="Password"
            value=""
            required />
        </div>
        <div class="signup_frame">
          <label>Passwordni qayta kiriting:</label>
          <input
            name="mb_confirm_password"
            type="password"
            placeholder="Passwordni qayta tasdiqlash"
            value=""
            required />
        </div>
      </div>

      <div class="login_input_frame">
        <div class="media_frame">
          <img class="upload_image_frame" src="/images/default_resto.jpg" />
          <div class="upload_container">
            <span class="media_text">Taom Rasmi</span>
            <div class="filebox bs3-primary preview-image">
              <input
                class="upload-name"
                value="Rasmni tanlang"
                disabled="disabled" />
              <label>Rasmni Yuklash</label>
              <input
                type="file"
                name="restaurant_img"
                id="input_file"
                placeholder="passwordni tasdiqlash"
                class="upload-hidden form-control-file restaurant_img" />
            </div>
            <p class="thumbnail_desc">
              Oshxona rasmingizni bu yerga yuklang. <br />Muhim ko'rsatmalar:
              .jpg, .jpeg, yoki .png <br />
              rasmda matn yoq bo'lishi kerak
            </p>
          </div>
        </div>
      </div>

      <button class="login_btn btn" name="signup" type="submit">
        Ro'yhatdan o'tish
      </button>
    </div>
  </form>
</body>

<%- include('includes/footer') %>
