html,
body {
  height: 100%;
}

#main_container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #2c261e;
  align-items: center;
}
a {
  text-decoration: none;
  color: #000000;
}
.nav-item a {
  color: #e3c08d;
}

.nav-item a :disabled {
  color: #898071;
}
.group_name {
  position: absolute;
  z-index: 10000;
  top: 1%;
  color: #efefee;
  font-size: xx-large;
  font-family: monospace;
}

.new_dish_txt {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 30px;
}
.restaurant_container .dish_container {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: auto;

  display: none;
  flex-direction: column;
  align-items: center;
}
.long_input {
  position: relative;
  margin-top: 25px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
